@import "tailwindcss";

body {
  background-color: black !important;
  color: white;
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

* { box-sizing: border-box; }